span {
    font-size: medium;
}

.curriculum-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.curriculum-grid-item {
    display: flex;
}

.curriculum-wrapper {
    padding: 1% 2% 3%;
}

.about-me {
    margin-top: 1.5%;
}

.curriculum-about-me-grid {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: 0.25fr 0.25fr;
}

.curriculum-about-me-grid-img-item {
    display: flex;
    grid-row: 1 / 3;
}

.curriculum-about-me-grid-img-item img {
    width: 95%;
    height: 100%;
    border: 0.2em solid black;
}

.curriculum-about-me-grid-item {
    display: flex;
}

.info {
    margin-left: 2.5%;
}

@media (max-width: 800px) {
    .curriculum-about-me-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.25fr 0.25fr;
        grid-auto-flow: dense;
    }

    .curriculum-about-me-grid-img-item img {
        width: 90%;
        height: 90%;
        margin-left: 2.5%;
        grid-row: 1;
        border: 0.2em solid black;
    }

    .curriculum-about-me-grid-item {
        grid-column: 1 / 3;
    }
}
