$backgroundColor: #1B2430;
$menuColor: #000000;
$contentColor: #212830;
$titleColor: #b375c7;
$textColor: #ffffff;
$subTitleColor: #b98bc7;

body {
    color: $textColor;
    background-color: $backgroundColor !important;
}

a {
    text-decoration: none;
    color: $textColor;
}

b {
    color: $subTitleColor;
}

h3 {
    color: $titleColor;
}

.themed-background {
    background-color: $backgroundColor;
}

.themed-menu {
    color: $textColor;
    background-color: $menuColor;
}

.themed-content {
    background-color: $contentColor;
}

.themed-text {
    color: $textColor;
}
