.selector {
    width: 100%;
    font-size: large;
    background-color: rgb(28, 28, 28);
    border-radius: 2px 2px 2px 2px;
    text-align: center;
}

.selector-option {
    margin-top: auto;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}