main {
    display: grid;
    justify-items: center;
    row-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "header"
        "content"
        "footer";
}

header {
    grid-area: "header";
    width: 60vw;
}

article {
    grid-area: "content";
    width: 60vw;
}

footer {
    grid-area: "footer";
    width: 60vw;
}